.navbar{
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
    color: #222222;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__logo{
    width: 150px;
    height: 90px;
    background-color: #3f4e8f;
    border-radius: 0px 100px 10px 0px;
    object-fit: contain;
    margin-left: -1rem;
    transition: all 300ms ease-in-out;
    -webkit-border-radius: 0px 100px 100px 0px;
    -moz-border-radius: 0px 100px 100px 0px;
    -ms-border-radius: 0px 100px 100px 0px;
    -o-border-radius: 0px 100px 100px 0px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.navbar__logo:hover{
    transform: scale(1.1);

}


.navbar__links{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__links > li {
    padding-left: 25px;
}

.cart__profile{
    border-bottom: 1px solid #dddddd;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.cart__profile:hover{
    transform: scale(1.1);
    border-bottom: 1px solid #222222;
}
.cart__profile svg{
    font-size: 1.7rem;
}

.cart__shop{
    border-bottom: 1px solid #dddddd;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
}
.cart__shop:hover{
    transform: scale(1.1);
    border-bottom: 1px solid #222222;
}

.cart__profile p{
    color: #222222;
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
    list-style: none;    
}
.navbar__links > li > a {
    text-decoration: none;
    color: #222222;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar__links > li > a > span{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.cart__link{
    width: 100px;
    height: 90px;
    border-radius: 5px 0px 0px 5px;
    background-color: #3f4e8f;
    margin-left: 30px;
    margin-right: -20px;
    color: #ffff;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
}

.cart__link i{
    color: #ffff;

}

.cart__link:hover{
    color: #fff;
    background-color: #3f4e8f;
}

.cartlogo__badge{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    margin-left: 8px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    -ms-border-radius: 50;
    -o-border-radius: 50;
}

.hamburger__menu{
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hamburger__menu > div{
    width: 100%;
    height: 3px;
    background: #3f4e8f;
}

.hamburger__menu:hover > div{
    background-color: rgb(55, 55, 204);
}

@media (max-width: 960px) {
    .navbar__links{
        display: none;
    }
    .hamburger__menu{
        display: flex;
    }
}


@media (max-width: 500) {
    .navbar__logo h1{
        font-size: 1rem;
    }
}