

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue';
    font-weight: lighter;
    font-size: 14px;
    background: #fff;
}

img{
    width: 100%;
    object-fit: contain;
}
.css-6hp17o-MuiList-root-MuiMenu-list > li{   
        color: #222222 !important;
        font-family: 'Bebas Neue' !important;
        font-weight: lighter !important;
}
